.gameContainer {
  width: 1000px; 
  height: 600px;
}

#canvasContainer {
  float: left;
}

#controlsContainer {
  float: right; 
  width: 200px;
  height: 600px;
}

#controlsContainer > div {
  display: none;
}

#controlsContainer.oreSelected .oreControls,
#controlsContainer.groundSelected .groundControls,
#controlsContainer.factorySelected .factoryControls,
#controlsContainer .idleRobots,
#controlsContainer.recipeSelected .recipeControls {
  display: block;
}

#controlsContainer > div {
  margin: 8px;
}

#controlsContainer div[data-command] {
  margin: 8px;
  padding: 2px;
  background: #92bbfc;
  border: 1px solid black;
  cursor: pointer;
}
