.gameContainer {
  width: 1000px; 
  height: 600px;
}

#canvasContainer {
  float: left;
}

#controlsContainer {
  float: right; 
  width: 200px;
  height: 600px;
}

#controlsContainer > div {
  display: none;
}

#controlsContainer.oreSelected .oreControls {
  display: block;
}

#controlsContainer.groundSelected .groundControls {
  display: block;
}